
.navvs{
/* background-color: #13353F; */
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.search{
width: 280px;
height: 30px;
background-color: #20545F;
border-radius: 12px;
}
.signin{
font-size: 20px;
color: #86c0cc;
text-decoration: none;
}
.signin:hover{
    text-shadow:2px 2px 2px rgba(197, 227, 248, 0.63);
}
body{
    /* background-color: #0c2127; */
    background-color: #13353F;
}
.tablee{
    display: flex;
    flex-direction:column ;
    margin-left: 200px;

}
.hovers:hover{
   box-shadow: -7px -7px 7px rgba(255, 127, 80, 0.719);
   width: 170px;
   height: 220px;
}
.hovers{
      margin-left: 15px;
      transition: all 0.2s ease-in-out;
      border-radius: 10%;
}
.types{
    margin-left: 200px;
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.603);
}
.imgg{
   
    margin-left: 200px;
    margin-top: 50px;
}
.sss{
     display:inline-block;
     margin-left: 100px;
     color: white;
}
.ssss{
    display: flex;
    justify-content: space-around;
    color: white;
}
.nameRates{
    display: inline;
    color: white;
    margin-right: 40px;
    margin-left:170px ;
}
.gg{
    color: gray;
}
.btn{
    width: 100px;
    height: 30px;
   text-decoration: none;
   background-color: rgb(240, 128, 128);
}
.bcg2{
border-radius: 7%;
box-shadow: 7px 7px 7px rgba(168, 145, 145, 0.521);

}
.acc:hover{
width: 35px;
height:45px;
}