
ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.search{
width: 280px;
height: 30px;
background-color: #20545F;
border-radius: 12px;
}
.signin{
font-size: 24px;
color: #86c0cc;
text-decoration: none;
}
.signin:hover{
    text-shadow:2px 2px 2px rgba(197, 227, 248, 0.63);
}
body{
    /* background-color: #0c2127; */
    background-color: #13353F;
    overflow-x: hidden;
}
.tablee{
    display: flex;
    flex-direction:column ;
    margin-left: 110px;

}
.hovers:hover{
   box-shadow: -7px -7px 7px rgba(255, 127, 80, 0.719);
   width: 185px;
   height: 235px;
}
.hovers{
      margin-left: 25px;
      transition: all 0.2s ease-in-out;
      border-radius: 10%;
}
.types{
    margin-left: 200px;
    font-size: 20px;
    color: white;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.603);
}
.imgg{
   
    margin-left: 200px;
    margin-top: 50px;
}

.ssss{
    display: flex;
    justify-content: space-around;
    color: white;
}
.nameRates{
    display: inline;
    color: white;
    margin-right: 40px;
    margin-left:170px ;
}
.gg{
    color: gray;
}
.btn{
    width: 100px;
    height: 30px;
    color: white;
   text-decoration: none;
   background-color: rgb(240, 128, 128);
   margin-bottom: 10px;
}
.sss{
     display:inline-block;
     margin-left: 100px;
     color: white;
}
.bcg2{
/* border-radius: 7%; */
box-shadow: 7px 7px 7px rgba(47, 74, 114, 0.336);
background-image:  url(./Web\ 1920\ –\ 1@2x.png);
font-size: 40px;
padding-top: 70px;
padding-left: 20px;
color: rgb(221, 220, 220);
width: 100%;
height:230px ;
text-shadow:2px 2px 2px rgba(202, 202, 202, 0.26);
}

.acc:hover{
width: 35px;
height:45px;
}
.thenames{
    color: rgb(221, 220, 220)  ;
    text-shadow:2px 2px 2px rgba(202, 202, 202, 0.26);
    margin-left: 55px;
}
.thenamess{
    margin-left: 90px;
}
.thenamesss{
    margin-left: 80px;
}
.last{
    width: 28px;
    height: 28px;
    display: flex;
    flex-direction: column;
   margin-left: 8px;
}

.stayco{
    color: white;
     background-color: #0C1D22;
 width: 100%;
    height: 170px;
    padding-left: 40%;
    padding-top: 5px;
}
.lastt{
   padding-left:4% ;
 display: flex;
}
.staycoo{
    padding-left:2% ;
}